# Machine Learning Model for Subway Dataset

### Imports:

In [4]:
import pandas as pd

### Loading in Weather Data:

### Loading in Subway Data:

In [5]:
turnstile_data=pd.read_csv('cleaned_turnstile_data.csv')

In [6]:
turnstile_data.head()

,id,turnstile_id,remote_unit_id,time_stamp,station_name,entries,exits
0,R138 R293 00-03-03 1546290000,R138 R293 00-03-03,R293,1546290000,34 ST-PENN STA,0,0
1,R138 R293 00-02-05 1546290000,R138 R293 00-02-05,R293,1546290000,34 ST-PENN STA,0,0
2,R138 R293 00-02-03 1546290000,R138 R293 00-02-03,R293,1546290000,34 ST-PENN STA,0,0
3,R138 R293 00-00-02 1546290000,R138 R293 00-00-02,R293,1546290000,34 ST-PENN STA,0,0
4,R138 R293 00-03-01 1546290000,R138 R293 00-03-01,R293,1546290000,34 ST-PENN STA,0,0

### Creating busyness percentage for each station
- For each remote unit id and time condense to one row relating to busyness of that station at that time
- The busyness of a place is how many people are currently there, so exits-entries along with the magnitude in the sum of both values, can do both
- Sum of entries and exits for each remote unit id at that time
- Exits - entries for each remote unit id at that time
- Normalize each of these values?

In [11]:
grouped_turnstile_data=turnstile_data.groupby(['remote_unit_id', 'time_stamp']).agg({'entries': 'max', 'exits': 'max'}).reset_index()

grouped_turnstile_data.head()

  remote_unit_id  time_stamp  entries  exits
0           R001  1546300800        0      0
1           R001  1546315200      102    104
2           R001  1546329600       96     51
3           R001  1546344000      260    476
4           R001  1546358400      540    496

In [13]:
#add two new columns, one for difference between exits and entries as a proxy for surplus people in that area
#the other for the addition of exits and entries as a proxy for busyness in that area by volume
grouped_turnstile_data['diff_exit_entry']=grouped_turnstile_data['exits']-grouped_turnstile_data['entries']
grouped_turnstile_data['sum_exit_entry']=grouped_turnstile_data['exits']+grouped_turnstile_data['entries']

grouped_turnstile_data.head(20)

   remote_unit_id  time_stamp  entries  exits  diff_exit_entry  sum_exit_entry
0            R001  1546300800        0      0                0               0
1            R001  1546315200      102    104                2             206
2            R001  1546329600       96     51              -45             147
3            R001  1546344000      260    476              216             736
4            R001  1546358400      540    496              -44            1036
5            R001  1546372800      602    250             -352             852
6            R001  1546387200      159    147              -12             306
7            R001  1546401600       48     38              -10              86
8            R001  1546416000      516    434              -82             950
9            R001  1546430400      842   1351              509            2193
10           R001  1546444800      784    456             -328            1240
11           R001  1546459200     1445    686             -759            2131
12           R001  1546473600      284    225              -59             509
13           R001  1546488000       68     68                0             136
14           R001  1546502400      486    418              -68             904
15           R001  1546516800      887   1370              483            2257
16           R001  1546531200      776    482             -294            1258
17           R001  1546545600     1526    754             -772            2280
18           R001  1546560000      292    243              -49             535
19           R001  1546574400       85     72              -13             157

### Map the weather to each station for each time interval

In [ ]:
'''df_turn['day'] = pd.to_datetime(df_turn['time_stamp'], unit='s').dt.day_name()
df_turn['date'] = pd.to_datetime(df_turn['time_stamp'], unit='s').dt.date
df_turn['time'] = pd.to_datetime(df_turn['time_stamp'], unit='s').dt.time'''