### This notebook will be for processing and cleaning the subway turnstile dataset for 2019
- Will need to determine all the turnstile differences for entries between current and last value
- Same for exits 
- This can give me a representation of how many people enter/exit station X in a given time period
- Do this for only stations in Manhattan

#### Manually cross refrencing which stations are in Manhattan:
- https://new.mta.info/accessibility/stations

In [56]:
import json
import pandas as pd

### Extract subway names and co-ordinates from overpass turbo json file

In [57]:
#there are 161 stations in this dataset

# Open the geojson file and read it
with open('manSubTurn.geojson') as file:
    data = json.load(file)


subway=pd.DataFrame(columns=['name','short_name','lat','lon','Link to Turnstile Data'])

for i in range(len(data['features'])):
    #Extract 
    name=data['features'][i]['properties']['name']
    try:
        short_n=data['features'][i]['properties']['short_name']
    except:
        short_n='None'
        
    lat=data['features'][i]['geometry']['coordinates'][1]
    lon=data['features'][i]['geometry']['coordinates'][0]
    subway.loc[i]=[name,short_n,lat,lon,'None']

In [58]:
subway.tail(20)

,name,short_name,lat,lon,Link to Turnstile Data
142,Grand Central Terminal,None,40.752806,-73.977179,None
143,Marble Hill,None,40.874924,-73.912702,None
144,Manhattan,None,41.418606,-87.989013,None
145,59th Street,59 St,40.762707,-73.967880,None
146,Chambers Street,Chambers St,40.714916,-74.007968,None
147,Fulton Street,Fulton St,40.710186,-74.007664,None
148,49th Street,49 St,40.759901,-73.984139,None
149,34th Street–Herald Square,34 St–Herald Sq,40.749719,-73.987823,None
150,23rd Street,23 St,40.742853,-73.992834,None
151,Union Square,Union Sq,40.734603,-73.990360,None
152,34th Street–Hudson Yards,34 St–Hudson Yards,40.755913,-74.001900,None
153,59th Street–Columbus Circle,59 St–Columbus Circle,40.768381,-73.981916,None
154,8th Avenue,8 Av,40.739875,-74.002738,None
155,42nd Street–Times Square,42 St–Times Sq,40.755286,-73.987216,None
156,Times Square,Times Sq,40.755592,-73.985839,None
157,6th Avenue,6 Av,40.737459,-73.997068,None
158,Canal Street,Canal St,40.718620,-74.000768,None
159,168th Street,168 St,40.840508,-73.940226,None
160,Fulton Street,Fulton St,40.710364,-74.009570,None
161,Fulton Street,Fulton St,40.709426,-74.006586,None

In [59]:
#remove duplicates? depends on how granular the data for 2019 is

### Now import the turnstile data for 2019

In [60]:
with open('Turnstile_Usage_Data__2019.csv') as file:
    turn_data = pd.read_csv(file)

turn_data.head(20)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A033,R170,02-00-05,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,17538854,7031168
1,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,14983900,14554087
2,A033,R170,02-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,769115,559221
3,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,7191422,8417203
4,A033,R170,02-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,71047673,20925389
5,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,2430093,2921770
6,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,271981,828662
7,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,6483080,4945335
8,A034,R170,03-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,4632187,3269462
9,A034,R170,03-03-00,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,69926,219187
10,A034,R170,03-05-00,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,187295,129140
11,A034,R170,03-03-02,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,13154638,1446679
12,A034,R170,03-05-01,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,169531,203256
13,A034,R170,03-03-01,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,6553678,3942370
14,A034,R170,03-05-02,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,198226,260680
15,A034,R170,03-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,1007426,2330092
16,A034,R170,03-05-03,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,226289,172333
17,A034,R170,03-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,2167998,16966778
18,A035,R170,00-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,993554,2432341
19,A035,R170,00-00-04,14 ST-UNION SQ,LNQR456W,BMT,12/27/2019,00:00:00,REGULAR,3119391,554073

In [86]:
#find how many unique subway names there are
turn_data['Station'].nunique()

379

#### Columns of interest
- Station, this is the station name which I will compare with Overpass turbo name data to only have manhattan turnstile data
- Date, needed for determing day of the week and time of year
- Time, needed for determing time of day
- Entries, needed for determing how many people entered the station, useful for busyness
- Exits, needed for determing how many people exited the station, useful for busyness
- Might also need to include individual turnstile data to see where people are entering/exiting the station and for comparing that turnstile to its previous value to see the difference

### Drop the rows that are not in Manhattan
#### Change overpass turbo names to match turnstile names

In [61]:
#capitalize all overpass turbo names
subway['name'] = subway['name'].str.upper()
subway['short_name'] = subway['short_name'].str.upper()
subway.head(20)

,name,short_name,lat,lon,Link to Turnstile Data
0,96TH STREET,96 ST,40.794379,-73.972000,None
1,BOWLING GREEN,NONE,40.704509,-74.014095,None
2,SOUTH FERRY,NONE,40.701710,-74.013149,None
3,86TH STREET,86 ST,40.779494,-73.955529,None
4,28TH STREET,28 ST,40.743314,-73.984075,None
5,14TH STREET–UNION SQUARE,14 ST–UNION SQ,40.735761,-73.990649,None
6,28TH STREET,28 ST,40.745494,-73.988691,None
7,CANAL STREET,CANAL ST,40.718092,-73.999892,None
8,BROADWAY–LAFAYETTE STREET,B’WAY–LAFAYETTE ST,40.725297,-73.996204,None
9,5TH AVENUE,5 AV,40.753743,-73.981900,None
10,42ND STREET–GRAND CENTRAL,42 ST–GRAND CENTRAL,40.751772,-73.976825,None
11,5TH AVENUE–59TH STREET,5 AV–59 ST,40.764827,-73.972675,None
12,HARLEM–148TH STREET,HARLEM–148 ST,40.823712,-73.936101,None
13,163RD STREET–AMSTERDAM AVENUE,163 ST–AMSTERDAM AV,40.836945,-73.940126,None
14,RECTOR STREET,RECTOR ST,40.707363,-74.013850,None
15,WTC CORTLANDT,NONE,40.711115,-74.012270,None
16,CHAMBERS STREET,CHAMBERS ST,40.715508,-74.009245,None
17,WALL STREET,WALL ST,40.706724,-74.009183,None
18,EAST BROADWAY,EAST BROADWAY,40.713715,-73.990173,None
19,GRAND STREET,GRAND ST,40.718162,-73.993784,None

In [74]:
# Now search for the short name in the turnstile data
# If it is not there, search for the long name

stations_to_extract_from_turnstile = []
change_name_stations_to_extract_from_turnstile = []
for i in range(len(subway)):
    name = subway.iloc[i]['name']
    short_name = subway.iloc[i]['short_name']
    if short_name in turn_data['Station'].values:
        stations_to_extract_from_turnstile.append(short_name)
        subway.loc[i,'Link to Turnstile Data'] = short_name
    elif name in turn_data['Station'].values:
        stations_to_extract_from_turnstile.append(name)
        subway.loc[i,'Link to Turnstile Data'] = name
    else:
        change_name_stations_to_extract_from_turnstile.append('None for '+name)
        

print(stations_to_extract_from_turnstile)

['96 ST', 'BOWLING GREEN', 'SOUTH FERRY', '86 ST', '28 ST', '28 ST', 'CANAL ST', 'RECTOR ST', 'CHAMBERS ST', 'WALL ST', 'EAST BROADWAY', 'GRAND ST', 'BOWERY', 'BROAD ST', '2 AV', '51 ST', '7 AV', 'PRINCE ST', 'CANAL ST', '23 ST', 'ASTOR PL', 'BLEECKER ST', 'SPRING ST', '33 ST', '1 AV', 'CANAL ST', '14 ST', '3 AV', 'SPRING ST', '23 ST', '28 ST', '50 ST', 'HOUSTON ST', '18 ST', 'FRANKLIN ST', '72 ST', '77 ST', '96 ST', 'DYCKMAN ST', '125 ST', '125 ST', '135 ST', '145 ST', '79 ST', '86 ST', '110 ST', '116 ST', '103 ST', '125 ST', '155 ST', '116 ST', '103 ST', '116 ST', '14 ST', '57 ST', 'CITY HALL', '155 ST', 'CHAMBERS ST', 'PARK PLACE', 'CORTLANDT ST', 'RECTOR ST', '23 ST', 'DYCKMAN ST', '168 ST', '181 ST', '191 ST', '207 ST', '215 ST', '145 ST', '157 ST', '103 ST', '72 ST', '86 ST', '96 ST', 'CANAL ST', '9TH STREET', '14 ST', '14 ST', '33 ST', 'FULTON ST', 'WALL ST', '125 ST', '145 ST', '181 ST', '190 ST', '23 ST', '23 ST', 'CHRISTOPHER ST', '135 ST', '86 ST', '96 ST', '72 ST', 'CANAL ST', '175 ST', '50 ST', '59 ST', 'CHAMBERS ST', 'FULTON ST', '49 ST', '23 ST', '8 AV', '6 AV', 'CANAL ST', '168 ST', 'FULTON ST', 'FULTON ST']

In [75]:
subway.head(20)

,name,short_name,lat,lon,Link to Turnstile Data
0,96TH STREET,96 ST,40.794379,-73.972000,96 ST
1,BOWLING GREEN,NONE,40.704509,-74.014095,BOWLING GREEN
2,SOUTH FERRY,NONE,40.701710,-74.013149,SOUTH FERRY
3,86TH STREET,86 ST,40.779494,-73.955529,86 ST
4,28TH STREET,28 ST,40.743314,-73.984075,28 ST
5,14TH STREET–UNION SQUARE,14 ST–UNION SQ,40.735761,-73.990649,14 ST-UNION SQ
6,28TH STREET,28 ST,40.745494,-73.988691,28 ST
7,CANAL STREET,CANAL ST,40.718092,-73.999892,CANAL ST
8,BROADWAY–LAFAYETTE STREET,B’WAY–LAFAYETTE ST,40.725297,-73.996204,B'WAY-LAFAYETTE
9,5TH AVENUE,5 AV,40.753743,-73.981900,5 AVE
10,42ND STREET–GRAND CENTRAL,42 ST–GRAND CENTRAL,40.751772,-73.976825,GRD CNTRL-42 ST
11,5TH AVENUE–59TH STREET,5 AV–59 ST,40.764827,-73.972675,5 AV/59 ST
12,HARLEM–148TH STREET,HARLEM–148 ST,40.823712,-73.936101,HARLEM 148 ST
13,163RD STREET–AMSTERDAM AVENUE,163 ST–AMSTERDAM AV,40.836945,-73.940126,163 ST-AMSTERDM
14,RECTOR STREET,RECTOR ST,40.707363,-74.013850,RECTOR ST
15,WTC CORTLANDT,NONE,40.711115,-74.012270,WTC-CORTLANDT
16,CHAMBERS STREET,CHAMBERS ST,40.715508,-74.009245,CHAMBERS ST
17,WALL STREET,WALL ST,40.706724,-74.009183,WALL ST
18,EAST BROADWAY,EAST BROADWAY,40.713715,-73.990173,EAST BROADWAY
19,GRAND STREET,GRAND ST,40.718162,-73.993784,GRAND ST

In [76]:
print(change_name_stations_to_extract_from_turnstile)
#will need to change these names manually

['None for 14TH STREET–UNION SQUARE', 'None for BROADWAY–LAFAYETTE STREET', 'None for 5TH AVENUE', 'None for 42ND STREET–GRAND CENTRAL', 'None for 5TH AVENUE–59TH STREET', 'None for HARLEM–148TH STREET', 'None for 163RD STREET–AMSTERDAM AVENUE', 'None for WTC CORTLANDT', 'None for WEST 4TH STREET–WASHINGTON SQUARE', 'None for ESSEX STREET', 'None for LEXINGTON AVENUE–63RD STREET', 'None for 42ND STREET–BRYANT PARK', 'None for LEXINGTON AVENUE–59TH STREET', 'None for 5TH AVENUE–53RD STREET', 'None for 57TH STREET–7TH AVENUE', 'None for 8TH STREET–NEW YORK UNIVERSITY', 'None for 42ND STREET–PORT AUTHORITY BUS TERMINAL', 'None for ROOSEVELT ISLAND', 'None for NEW YORK PENN STATION', 'None for 66TH STREET–LINCOLN CENTER', 'None for WORLD TRADE CENTER', 'None for CENTRAL PARK NORTH–110TH STREET', 'None for BROOKLYN BRIDGE–CITY HALL', 'None for 42ND STREET–TIMES SQUARE', 'None for MARBLE HILL–225TH STREET', 'None for 137TH STREET–CITY COLLEGE', 'None for CATHEDRAL PARKWAY–110TH STREET', 'None for 116TH STREET–COLUMBIA UNIVERSITY', 'None for 34TH STREET–PENN STATION', 'None for 42ND STREET–TIMES SQUARE', 'None for CHRISTOPHER STREET–SHERIDAN SQUARE', 'None for CATHEDRAL PARKWAY–110TH STREET', 'None for 68TH STREET–HUNTER COLLEGE', 'None for 34TH STREET–PENN STATION', 'None for LEXINGTON AVENUE–53RD STREET', 'None for 47TH–50TH STREETS–ROCKEFELLER CENTER', 'None for DELANCEY STREET', 'None for 34TH STREET–HERALD SQUARE', 'None for 81ST STREET–MUSEUM OF NATURAL HISTORY', 'None for 59TH STREET–COLUMBUS CIRCLE', 'None for WHITEHALL STREET–SOUTH FERRY', 'None for WORLD TRADE CENTER', 'None for 14TH STREET–UNION SQUARE', 'None for GRAND CENTRAL', 'None for 42ND STREET–GRAND CENTRAL', 'None for INWOOD–207TH STREET', 'None for HARLEM–125TH STREET', 'None for GRAND CENTRAL TERMINAL', 'None for MARBLE HILL', 'None for MANHATTAN', 'None for 34TH STREET–HERALD SQUARE', 'None for UNION SQUARE', 'None for 34TH STREET–HUDSON YARDS', 'None for 59TH STREET–COLUMBUS CIRCLE', 'None for 42ND STREET–TIMES SQUARE', 'None for TIMES SQUARE']

In [77]:
print(len(change_name_stations_to_extract_from_turnstile))

56

In [78]:
change_name_stations_to_extract_from_turnstile.append('14 ST-UNION SQ')
change_name_stations_to_extract_from_turnstile.append('B\'WAY-LAFAYETTE')
change_name_stations_to_extract_from_turnstile.append('5 AVE')
change_name_stations_to_extract_from_turnstile.append('GRD CNTRL-42 ST')
change_name_stations_to_extract_from_turnstile.append('5 AV/59 ST')
change_name_stations_to_extract_from_turnstile.append('HARLEM 148 ST')
change_name_stations_to_extract_from_turnstile.append('163 ST-AMSTERDM')
change_name_stations_to_extract_from_turnstile.append('WTC-CORTLANDT')
change_name_stations_to_extract_from_turnstile.append('W 4 ST-WASH SQ')
change_name_stations_to_extract_from_turnstile.append('DELANCEY/ESSEX')
change_name_stations_to_extract_from_turnstile.append('LEXINGTON AV/63')
change_name_stations_to_extract_from_turnstile.append('42 ST-BRYANT PK')
change_name_stations_to_extract_from_turnstile.append('None')
change_name_stations_to_extract_from_turnstile.append('5 AV/53 ST')
change_name_stations_to_extract_from_turnstile.append('57 ST-7 AV')
change_name_stations_to_extract_from_turnstile.append('8 ST-NYU')
change_name_stations_to_extract_from_turnstile.append('None as bus terminal')
change_name_stations_to_extract_from_turnstile.append('ROOSEVELT ISLND')
change_name_stations_to_extract_from_turnstile.append('34 ST-PENN STA')
change_name_stations_to_extract_from_turnstile.append('66 ST-LINCOLN')
change_name_stations_to_extract_from_turnstile.append('WORLD TRADE CTR')
change_name_stations_to_extract_from_turnstile.append('CENTRAL PK N110')
change_name_stations_to_extract_from_turnstile.append('BROOKLYN BRIDGE')
change_name_stations_to_extract_from_turnstile.append('TIMES SQ-42 ST')
change_name_stations_to_extract_from_turnstile.append('MARBLE HILL-225')
change_name_stations_to_extract_from_turnstile.append('137 ST CITY COL')
change_name_stations_to_extract_from_turnstile.append('CATHEDRAL PKWY')
change_name_stations_to_extract_from_turnstile.append('116 ST-COLUMBIA')
change_name_stations_to_extract_from_turnstile.append('34 ST-PENN STA')
change_name_stations_to_extract_from_turnstile.append('TIMES SQ-42 ST')
change_name_stations_to_extract_from_turnstile.append('CHRISTOPHER ST')
change_name_stations_to_extract_from_turnstile.append('CATHEDRAL PKWY')
change_name_stations_to_extract_from_turnstile.append('68ST-HUNTER CO')
change_name_stations_to_extract_from_turnstile.append('34 ST-PENN STA')
change_name_stations_to_extract_from_turnstile.append('LEXINGTON AV/53')
change_name_stations_to_extract_from_turnstile.append('47-50 STS ROCK')
change_name_stations_to_extract_from_turnstile.append('DELANCEY/ESSEX')
change_name_stations_to_extract_from_turnstile.append('34 ST-HERALD SQ')
change_name_stations_to_extract_from_turnstile.append('81 ST-MUSEUM')
change_name_stations_to_extract_from_turnstile.append('59 ST COLUMBUS')
change_name_stations_to_extract_from_turnstile.append('WHITEHALL S-FRY')
change_name_stations_to_extract_from_turnstile.append('WORLD TRADE CTR')
change_name_stations_to_extract_from_turnstile.append('14 ST-UNION SQ')
change_name_stations_to_extract_from_turnstile.append('GRD CNTRL-42 ST')
change_name_stations_to_extract_from_turnstile.append('GRD CNTRL-42 ST')
change_name_stations_to_extract_from_turnstile.append('INWOOD-207 ST')
change_name_stations_to_extract_from_turnstile.append('125 ST')
change_name_stations_to_extract_from_turnstile.append('MARBLE HILL-225')
change_name_stations_to_extract_from_turnstile.append('GRD CNTRL-42 ST')
change_name_stations_to_extract_from_turnstile.append('34 ST-HERALD SQ')
change_name_stations_to_extract_from_turnstile.append('14 ST-UNION SQ')
change_name_stations_to_extract_from_turnstile.append('34 ST-HUDSON YD')
change_name_stations_to_extract_from_turnstile.append('59 ST COLUMBUS')
change_name_stations_to_extract_from_turnstile.append('TIMES SQ-42 ST')
change_name_stations_to_extract_from_turnstile.append('TIMES SQ-42 ST')
change_name_stations_to_extract_from_turnstile.append('TIMES SQ-42 ST')

In [79]:
len(change_name_stations_to_extract_from_turnstile)

112

- Missing for LEXINGTON AVENUE–59TH STREET

- Have a triple of penn station 34 st
- Duplicate of TIMES SQ-42 ST
- Duplicate of CATHEDRAL PKWY
- Duplicate of DELANCEY/ESSEX
- Duplicate of WORLD TRADE CTR
- Duplicate of 14 ST-UNION SQ
- Quadruple of GRD CNTRL-42 ST
- Duplicate of 125 ST
- Duplicate of MARBLE HILL-225
-

In [80]:
stations_to_extract_from_turnstile = []
j=56
#change_name_stations_to_extract_from_turnstile = []
for i in range(len(subway)):
    name = subway.iloc[i]['name']
    short_name = subway.iloc[i]['short_name']
    if short_name in turn_data['Station'].values:
        stations_to_extract_from_turnstile.append(short_name)
        subway.loc[i,'Link to Turnstile Data'] = short_name
    elif name in turn_data['Station'].values:
        stations_to_extract_from_turnstile.append(name)
        subway.loc[i,'Link to Turnstile Data'] = name
    else:
        subway.loc[i,'Link to Turnstile Data'] = change_name_stations_to_extract_from_turnstile[j]
        j=j+1

subway.head(20)

,name,short_name,lat,lon,Link to Turnstile Data
0,96TH STREET,96 ST,40.794379,-73.972000,96 ST
1,BOWLING GREEN,NONE,40.704509,-74.014095,BOWLING GREEN
2,SOUTH FERRY,NONE,40.701710,-74.013149,SOUTH FERRY
3,86TH STREET,86 ST,40.779494,-73.955529,86 ST
4,28TH STREET,28 ST,40.743314,-73.984075,28 ST
5,14TH STREET–UNION SQUARE,14 ST–UNION SQ,40.735761,-73.990649,14 ST-UNION SQ
6,28TH STREET,28 ST,40.745494,-73.988691,28 ST
7,CANAL STREET,CANAL ST,40.718092,-73.999892,CANAL ST
8,BROADWAY–LAFAYETTE STREET,B’WAY–LAFAYETTE ST,40.725297,-73.996204,B'WAY-LAFAYETTE
9,5TH AVENUE,5 AV,40.753743,-73.981900,5 AVE
10,42ND STREET–GRAND CENTRAL,42 ST–GRAND CENTRAL,40.751772,-73.976825,GRD CNTRL-42 ST
11,5TH AVENUE–59TH STREET,5 AV–59 ST,40.764827,-73.972675,5 AV/59 ST
12,HARLEM–148TH STREET,HARLEM–148 ST,40.823712,-73.936101,HARLEM 148 ST
13,163RD STREET–AMSTERDAM AVENUE,163 ST–AMSTERDAM AV,40.836945,-73.940126,163 ST-AMSTERDM
14,RECTOR STREET,RECTOR ST,40.707363,-74.013850,RECTOR ST
15,WTC CORTLANDT,NONE,40.711115,-74.012270,WTC-CORTLANDT
16,CHAMBERS STREET,CHAMBERS ST,40.715508,-74.009245,CHAMBERS ST
17,WALL STREET,WALL ST,40.706724,-74.009183,WALL ST
18,EAST BROADWAY,EAST BROADWAY,40.713715,-73.990173,EAST BROADWAY
19,GRAND STREET,GRAND ST,40.718162,-73.993784,GRAND ST

In [82]:
#show the entire data frame
#pd.set_option('display.max_rows', None)
#subway

In [84]:
#remove any row that has a duplicate value in the link to turnstile data column
subway = subway.drop_duplicates(subset=['Link to Turnstile Data'], keep='first')
len(subway)

96

### Now have 96 subway locations in Manhattan that we can reference in the turnstile data